/**
 * @author Arie M. Prasetyo
 * @copyright 2021
 */

 .App {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 8px;
  font-size: 12pt;
}

.App > h1 {
  font-size: 160%;
}

.App > p > code {
  background-color: rgb(--var(--primary-accent));
	font-family: --var(--font-mono);
}