/**
 * @author Arie M. Prasetyo
 * @copyright 2021
 */

 .App {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 12px;
}

.App > h1 {
	font-style: italic;
	color: rgb(var(--primary-accent));
}

.App > p {
	margin: 4pt 0;
	color: var(--main-fg);
}

.App > p > code {
  color: rgb(var(--primary-accent));
	font-family: var(--font-mono);
	font-weight: bold;
}

.App > div {
	padding: 8pt 0;
}

.App > div > h2 {
	font-style: italic;
	font-weight: 600;
}

.App > div > em {
	color: rgb(var(--primary-accent));
}