/**
 * @author Arie M. Prasetyo
 * @copyright 2021
 */

.AddButton {
  margin: 0;
  padding: 0;
}

.AddButton > button {
  width: 100%;
	padding: 8px 10px;
	margin: 6px 0 2px 0;
	font-size: large;
	cursor: pointer;
}

.AddButton > button:hover {
  background-color: rgba(var(--primary-accent), 0.4);
}