/**
 * @author Arie M. Prasetyo
 * @copyright 2021
 */

 .App {
	width: 600px;
	height: 100%;
	margin: 0 auto;
	padding: 12px;
	background-color: var(--main-bg);
	border-left: 1px var(--main-fg) solid;
	border-right: 1px var(--main-fg) solid;
	display: flex;
	flex-direction: column;
}

.App > h1 {
	font-style: italic;
	color: rgb(var(--primary-accent));
	align-self: center;
	margin-bottom: 24px;
}

.App > summary {
	color: var(--main-fg);
	font-size: 0.8em;
}

.App > footer {
	font-size: .8em;
	margin-top: auto;
	padding-bottom: 20px;
}